/*------------------------------------ GLOBAL STYLE -----------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    /* background-color: #e8e8e8; */
}

html {
    font-size: 62.5%;
}

.alert_div{
    font-size: 1.8rem;
    color: #222831;
    padding: 1rem .5rem;
    text-align: center;
}

/* -----------------------------------------Navbar Design-------------------------------------- */
.navbar_container {
    width: 100%;
}

.navbar_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 8rem;
    background-color: #222831;
}

.navbar_logo {
    margin-left: 10rem;
    background: transparent;
}

.navbar_logo_link {
    color: #e8e8e8;
    font-size: 3rem;
    letter-spacing: .5rem;
    text-transform: uppercase;
}
.navbar_logo_link:hover{
    color: #f05454;
    text-decoration: none;
}

.navbar_top_auth {
    margin-right: 10rem;
    background: transparent;
}

.navbar_auth_link{
    font-size: 1.8rem;
    color:#f05454;
    margin: 0 3rem;
}
.navbar_auth_link:hover{
    color: #e8e8e8;
    text-decoration: none;
}

.navbar_bottom{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 6rem;
    background-color: #30475e;
}

.navbar_bottom_item{
    list-style: none;
}

.navbar_bottom_links{
    color:#e8e8e8;
    font-size: 1.8rem;
}
.navbar_bottom_links:hover{
    color: #f05454;
    text-decoration: none;
}

/* --------------------------------------------SignUp / SignIn PAGE Design ----------------------------*/
.signup_page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup_page_title{
    font-size: 5rem;
    color: #222831;
    text-transform: uppercase;
    letter-spacing: .3rem;
    text-shadow: .2rem .2rem .3rem black;
    margin-top: 5rem;
}

.signup_page_subtitle{
    font-size: 2.5rem;
    color: #30475e;
    margin-top: .5rem;
}

.signup_form{
    margin-top: 3rem;
}
.signup_form_div{
    margin-bottom: 1rem;
}
.signup_form_input{
    font-size: 1.6rem;
    color: #222831;
    padding: .5rem .5rem;
    outline-color: #f05454;
}
.signup_btn{
    padding: .5rem 1.5rem;
    margin-left: 25%;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 1.8rem;
    color: #222831;
    background-color: #f05454;
    border: .1rem solid #30475e;
    outline: none;
    transition: .5s;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.signup_btn:hover{
    background-color: #30475e;
    color: #f05454;
}

.signup_form_footer{
    font-size: 1.8rem;
    color: #222831;
}
.signup_link{
    text-decoration: none;
}
.signup_link:hover{
    text-decoration: none;
    color: #f05454;
}


/*-------------------------------------------- HOME PAGE Design ------------------------------------------*/
.home_page{
    width: 60%;
    float: right;
    margin-top: 2rem;
}
.lisiting_section{
    margin-top: 2rem;
}
.pagination_section{
    margin-top: 5rem;
}
.side_section{
    float: left;
    width: 40%;
    height: 100vh;
    background-color: #e8e8e8;
}

.lisitings_form{
    margin: 5rem 5rem;
    
}

.lisitings_form_section{
    font-size: 2rem;
    color: #222831;
}

.lisitings_form_label{
    font-weight: 600;
    margin-right: 1rem;
}

.lisitings_form_select{
    padding: .5rem 1rem;
    color: #30475e;
    width: 100%;
    font-size: 1.8rem;
}

.lisitings_form_input{
    width: 20rem;
    margin-left: 1rem;
}
/* .lisitings_form_checkbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

.lisitings_form_loader{
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10rem;

}

.lisitings_form_btn{
    width: 100%;
    background-color: #30475E !important;
    font-size: 2.5rem !important;
    margin-left: 5rem;
    color: #e8e8e8 !important;
    box-shadow: .2rem .4rem .5rem rgba(0, 0, 0, 0.4);
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.lisitings_form_btn:hover{
    color: #f05454 !important;
    background: #222831 !important;
}


/* About PAGE Design */
/* Contact PAGE Design */
/* Listings PAGE Design */
/* ListingDetail PAGE Design */

/* Sign In PAGE Design */


/* -------------------------------------Not Found PAGE Design------------------------------ */
.not_found_page {
    margin-top: 25rem;
    text-align: center;
}

.notFound_heading {
    font-size: 10rem;
    font-weight: 300;
    opacity: .7;
    margin-bottom: 1.5rem;
}

.notFound_paragraph {
    font-size: 5rem;
}