/* GLOBAL STYLE */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

/* HOME PAGE Design */
/* About PAGE Design */
/* Contact PAGE Design */
/* Listings PAGE Design */
/* ListingDetail PAGE Design */
/* SignUp PAGE Design */
/* Sign In PAGE Design */
/* Not Found PAGE Design */

.not_found_page{
    margin-top: 16rem;
    text-align: center;
}

.notFound_heading{
    font-size: 6.2rem;
    font-weight: 300;
    opacity: .7;
    margin-bottom: 1.5rem;
}

.notFound_paragraph{
    font-size: 3rem;
}